{% include 'header.html' %}

		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Home</li><li>Tables</li><li>Normal Tables</li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-table fa-fw "></i>
								CMDB配置管理
							<span>>
								资产管理
							</span>
						</h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
									1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
								</div>
							</li>
							<li class="sparks-info">
								<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
							<li class="sparks-info">
								<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!-- widget grid -->
				<section id="widget-grid" class="">

					<!-- row -->
					<div class="row">

						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>服务器信息列表</h2>
								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

                                        <div class="alert alert-info no-margin fade in">

                                            <form class="form-inline" action="/cmdb" method="GET">

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                        <input type="text" placeholder="机房" name="idc" value="" class="form-control" style="width:100px">
                                                        <input type="text" class="hidden" name="query" value="1">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                                        <input type="text" placeholder="IP地址" name="idc" value="" class="form-control" name="ip" value="" style="width:150px">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input type="text" placeholder="运维人" name="idc" value="" class="form-control" name="op" value="" style="width:100px">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                                                        <input type="text" placeholder="使用人" name="idc" value="" class="form-control" name="rd" value="" style="width:100px">
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-default"><i class="fa fa-sm fa-fw fa-search"></i> 搜索</button>
                                                <a data-toggle="modal" href="#advance" class="btn btn-default"><i class="fa fa-sm fa-fw fa-plus"></i> 高级</a>
                                                <a data-toggle="modal" href="./" class="btn btn-default"><i class="fa fa-sm fa-fw fa-refresh"></i> 重置</a>
                                                <a data-toggle="modal" href="#exportModal" class="btn btn-default" onclick="ajaxExport()"><i class="fa fa-sm fa-fw fa-upload"></i> 导出</a>
                                                <a data-toggle="modal" href="#optionModal" class="btn btn-default" id="fileUpload"><i class="fa fa-sm fa-fw fa-download"></i> 导入</a>
                                                <a class="btn btn-default enable" onclick="enable()"><i class="fa fa-sm fa-fw fa-edit"></i> 在线编辑</a>
                                            </form>

										</div>
										<div class="table-responsive">

											<table class="table table-bordered table-striped">
												<thead>
													<tr>
                                                        <th nowrap style="text-align:center;"><a href="#relayData" onclick="btnCheckAll(1)" >全</a>/<a href="#relayData" onclick="btnCheckAll(0)" >反</a></th>
                                                        <th nowrap style="text-align:center;">机房</th>
                                                        <th nowrap style="text-align:center;">IP地址</th>
                                                        <th nowrap style="text-align:center;">宿主机</th>
                                                        <th nowrap style="text-align:center;">资产编号</th>
                                                        <th nowrap style="text-align:center;">SN号</th>
                                                        <th nowrap style="text-align:center;">类型</th>
                                                        <th nowrap style="text-align:center;">型号</th>
                                                        <th nowrap style="text-align:center;">CPU</th>
                                                        <th nowrap style="text-align:center;">内存</th>
                                                        <th nowrap style="text-align:center;">硬盘</th>
                                                        <th nowrap style="text-align:center;">机架位置</th>
                                                        <th nowrap style="text-align:center;">运维人</th>
                                                        <th nowrap style="text-align:center;">使用人</th>
                                                        <th nowrap style="text-align:center;">使用部门</th>
                                                        <th nowrap style="text-align:center;">分配时间</th>
                                                        <th nowrap style="text-align:center;">分配原因</th>
                                                        <th nowrap style="text-align:center;">资产属性</th>
                                                        <th nowrap style="text-align:center;">再分配</th>
                                                        <th nowrap style="text-align:center;" colspan="3">操作</th>
													</tr>
												</thead>
												<tbody>
                                                    <tr>
                                                        <td style="text-align:center;"><input type="checkbox" class="checkboxes" name="ipCheck" value="172.20.94.130" /></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="text" id="idc" data-pk="1" data-title="机房">廊坊联通磐石机房</a></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="text" id="ip" data-pk="1" data-title="IP地址">172.20.94.130</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d">431895</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d">2102310YQD10F70</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d">物理机</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d">HuaweiRH2288V3</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d"></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d"></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d"></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" title="DC2-M2-321-K08-19--20">DC2-M2-...</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="text" id="op" data-pk="1" data-title="运维人">李志明</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="text" id="rd" data-pk="1" data-title="使用人"></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="text" id="dept" data-pk="1" data-title="部门"></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="combodate" data-format="YYYY-MM-DD" data-viewformat="YYYY年MM月DD日" data-template="YYYY 年 MM 月 DD 日" id="allotTime" data-pk="1" data-title="分配时间"">2016年02月25日</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="textarea" id="allotReason" data-pk="1" data-title="分配原因"></td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="editTable" data-type="text" id="attribute" data-pk="1" data-title="资产属性">大硬盘服务器</td>
                                                        <td nowrap style="text-align:center;"><a href="#cmdbTable" style="text-decoration:none;color:#10181d" class="recycle" data-type="select" id="recycle" data-pk="1" data-title="再分配">是</td>
                                                        <td nowrap style="text-align:center;"><a data-toggle="modal" href="" onclick=""><i class="icon-flag"></i> 应用</a></td>
                                                        <td nowrap style="text-align:center;"><a data-toggle="modal" href="#optionLogs" onclick="optionLogsFn(1)"><i class="icon-bar-chart"></i> 日志</a></td>
                                                        <td nowrap style="text-align:center;"><a data-toggle="modal" href="#serverRemark" onclick="serverRemarkFn(1)"><i class="icon-camera"></i> 备注</a></td>
                                                    </tr>
												</tbody>
											</table>

										</div>
									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->

						</article>
						<!-- WIDGET END -->

					</div>

					<!-- end row -->

				</section>
				<!-- end widget grid -->
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

        <!-- 高级查询 -->
        <div id="advance" class="modal fade" tabindex="-1" data-width="400" style="padding:50px 0px">
            <div class="modal-dialog" style="width:450px">

                <div class="modal-content">
                    <form action="/cmdb/index/" method="GET">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">高级查询</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>IP地址批量查询</label>
                                        <textarea type="text" class="form-control" placeholder="请保持每行一个IP地址..." rows="6" name="ipMore" value=""></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="机房" name="idc" value="">
                                            <input type="text" class="hidden" name="query" value="1">
                                            <label for="email" class="glyphicon glyphicon-home" rel="tooltip" title="" data-original-title="机房"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="资产编号..." name="anum" value="">
                                            <label for="email" class="glyphicon glyphicon-sort-by-order" rel="tooltip" title="" data-original-title="资产编号"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="SN号..." name="sn" value="">
                                            <label for="email" class="glyphicon glyphicon-cog" rel="tooltip" title="" data-original-title="SN号"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="运维人" name="op" value="">
                                            <label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="" data-original-title="运维人"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="使用人" name="rd" value="">
                                            <label for="email" class="glyphicon glyphicon-glass" rel="tooltip" title="" data-original-title="使用人"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="资产属性" name="attribute" value="">
                                            <label for="email" class="glyphicon glyphicon-tags" rel="tooltip" title="" data-original-title="资产属性"></label>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <select class="form-control" name="recycle">
                                                <option>再分配</option>
                                                <option >是</option>
                                                <option >否</option>
                                            </select>
                                            <label for="email" class="glyphicon glyphicon-tags" rel="tooltip" title="" data-original-title="再分配"></label>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning"><i class="fa fa-sm fa-fw fa-search"></i> 搜索</button>
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-sm fa-fw fa-times"></i> 关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 批量导入 -->
        <div id="optionModal" class="modal fade" tabindex="-1" data-width="400" style="padding:50px 0px">
            <div class="modal-dialog" style="width:320px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Excel 文件数据导入</h4>
                    </div>
                    <div class="modal-body">
                        <input type="file" name="file" id="file1">
                        <div id="optionText" style="padding:15px 0 0 0"></div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn green" onclick="ajaxFileUpload()"><i class="fa fa-sm fa-fw fa-search"></i> 上传</a>
                        <button type="button" data-dismiss="modal" class="btn">关闭</button>
                    </div>
                </div>
            </div>
        </div>

<script>

    function tipOn(valueHTML) {
        document.getElementById('myModal').className = 'amodal';
        document.getElementById("myText").innerHTML = valueHTML;
        document.getElementById('shade').className = 'amodal-backdrop';
    }

    function tipOff() {
        document.getElementById('myModal').className = 'amodal hide';
        document.getElementById('shade').className = 'amodal-backdrop hide';
    }

    function fadeIn() {
        var valueHTML = ""
        var sysIp = document.getElementById("sysIp").value;
        if (sysIp == ''){
            valueHTML = "请输入需要查询的关键字";
            tipOn(valueHTML);
            return false;
        }

        /*if(/.*[\u4e00-\u9fa5]+.*$/.test(sysIp))
         {
         valueHTML = "非法的IP地址，请重新输入";
         tipOn(valueHTML);
         return false;
         }*/
        document.getElementById('mission_create').submit();
    }

    function hostCp() {
        var ipList_num = ''
        var ipListAll_num = ''
        var ipList = document.getElementsByName("ipList");
        var ipListAll = document.getElementsByName("ipListAll");
        for(var i=0;i<ipList.length;i++){
            if(ipList[i].checked){
                ipList_num = ipList[i].value
            }
        }
        for(var i=0;i<ipListAll.length;i++){
            if(ipListAll[i].checked){
                ipListAll_num = ipListAll[i].value
            }
        }
        if (ipList_num.length ==0 && ipListAll_num.length ==0) {
            valueHTML = "请至少勾选一个IP地址或选择【执行全部】";
            tipOn(valueHTML);
            return false;
        }
        else{
            document.getElementById('hostCp_create').submit();
        }
    }

    /*jQuery(document).ready(function() {
     App.init();
     TableManaged.init();
     });*/

    function pageSize() {
        var strUrl = document.location.search;
        var objS = document.getElementById("pageSize");
        var size = objS.options[objS.selectedIndex].value;
        if (strUrl.length ==0) {
            self.location.href=strUrl + "?size=" + size
        }
        else {
            self.location.href=strUrl + "&size=" + size
        }
    }

    function enable() {
        $(".enable").html('<i class="icon-signout"></i> 退出编辑')
        $('.enable').attr("onclick","disableEdit()");
        $.fn.editable.defaults.url = '/cmdb/modify/';
        $(".editTable").editable({
            ajaxOptions: {
                dataType: 'json' //assuming json response
            },
            success: function(response, newValue) {
                if(response.status == 'error') {
                    return response.msg;
                }
            },
            combodate: {
                minYear: 2000,
                maxYear: 2018,
                minuteStep: 1
            }
        });

        $(".recycle").editable({
            value: '',
            source: [
                {value: '是', text: '是'},
                {value: '否', text: '否'}
            ],
            ajaxOptions: {
                dataType: 'json' //assuming json response
            },
            success: function(response, newValue) {
                if(response.status == 'error') {
                    return response.msg;
                }
            }
        });
    };

    function disableEdit() {
        $(".editTable").editable('destroy');
        $(".recycle").editable('destroy');
        $(".enable").html('<i class="icon-edit"></i> 在线编辑')
        $('.enable').attr("onclick","enable()");
    };

    $('#fileUpload').click(function() {
        $("#optionText").html('');
    });

    function ajaxFileUpload() {
        var upFile = document.getElementById('file1');
        if (upFile.value == '') {
            $("#optionText").html('错误：未检测到文件，请选择!');
            return false;
        }
        $("#optionText").html('正在上传，请稍后...');
        $.ajaxFileUpload
        (
                {
                    url: '/cmdb/management/upload/',
                    secureuri: false,
                    fileElementId: 'file1',
                    dataType: 'json',
                    success: function(datas)
                    {
                        $("#optionText").html(datas.msg);
                    }
                }
        )
        return false;
    }

    function ajaxExport() {
        $("#exportText").html('正在导出数据，请稍后...');
        $.ajax
        (
                {
                    type: 'post',
                    dataType: 'json',
                    url : '/cmdb/export/',
                    data : {'data':"{{queryData |safe}}"},
                    timeout:100000,
                    success: function (datas)
                    {
                        $("#exportText").html(datas.data);
                    },
                    error: function (data, status, e)
                    {
                        alert(e);
                    }
                }
        )
        return false;
    }

    function btnCheckAll(checkTag) {
        if (checkTag == 1) {
            $("[class = checkboxes]:checkbox").attr("checked", true);
        }
        else if (checkTag ==0) {
            $("[class = checkboxes]:checkbox").attr("checked", false);
        }
    }

    edit_count=1
    function addItems() {
        edit_count +=1
        $("#addItems").append("<br /><div class='form-inline'><div class='form-group'><div class='input-icon'><select class='form-control'name='recycle'id='edit_select_" + edit_count + "'><option value=''>请选择批量修改项</option><option value='idc'>机房</option><option value='model'>型号</option><option value='cpu'>CPU</option><option value='mem'>内存</option><option value='disk'>硬盘</option><option value='op'>运维人</option><option value='rd'>使用人</option><option value='dept'>使用部门</option><option value='alloatTime'>分配时间</option><option value='allotReason'>分配原因</option><option value='attribute'>资产属性</option><option value='recycle'>再分配</option><option value='remark'>备注</option></select></div></div>&nbsp;<div class='form-group'><div class='input-icon'><i class='icon-tags'></i><input type='text'class='form-control'placeholder='新的修改内容'id='edit_input_" + edit_count + "'></div></div></div>")
    }

    // 清空ajax批量修改区域提示文字
    function opText() {
        $("#opText").html();
    }

    function bulkPost() {
        // 获取勾选IP地址
        var chk_value =[];
        var jsonData = {};
        var myData = '';
        $('input[name="ipCheck"]:checked').each(function(){
            chk_value.push($(this).val());
        });

        if (chk_value.length ==0){
            alert("请勾选将要修改的IP地址！");
            return false;
        }
        else {
            jsonData['ipData'] = chk_value
        }

        for(i=1;i<=edit_count;i++){
            //开始获取批量修改项
            var item = $("#edit_select_"+i).val()
            if (item.length == 0){
                continue
            }
            else{
                var values = $("#edit_input_"+i).val();
                jsonData[item] = values
                myData = JSON.stringify(jsonData);
            }
        }

        if (myData.length ==0) {
            alert("请至少编辑一项修改类目！");
            return false;
        }

        $("#opText").html('<br />请稍后，正在提交修改...');
        var url = "/cmdb/bulkPost/";
        $.ajax({
            type : "POST",
            dataType: "json",
            url : url,
            data : {"editItems":myData},
            timeout:120000,
            success:function(dates){
                $("#opText").html('<br />' + dates.msg);
                /*if (dates.code==0) {
                 window.location = "/service/disk/result/?id="+dates.data;
                 }
                 if (dates.code==1) {
                 $("#opTxt").html(dates.data);
                 }
                 if (dates.code==2) {
                 $("#opTxt").html(dates.data);
                 }*/
            },
            complete : function(XMLHttpRequest,status) {
                if(status=='timeout') {
                    $("#opTxt").html('提示：查询超时.');
                }
            },
            error: function() {
                $("#opTxt").html('提示：系统异常.');
            }
        });
    }

    function optionLogsFn(serverId) {
        $("#serverLogsData").html("");
        $("#optionLogsTip").html("请稍后，数据查询中...");
        $.ajax({
            type:'POST',
            url:'/cmdb/ajaxOptionLogs/',
            data: {"id": serverId},
            success:function(datas){
                $('#serverLogsData').html(datas);
                $("#optionLogsTip").html("数据查询成功，仅显示最近10条日志记录！");
            }
        });
    }

    function serverRemarkFn(serverId) {
        $("#serverRemarkText").html("");
        $("#serverRemarkText").html("请稍后，数据查询中...");
        $.ajax({
            type:'POST',
            url:'/cmdb/ajaxServerRemark/',
            data: {"id": serverId},
            success:function(datas){
                $('#serverRemarkText').html(datas);
            }
        });
    }

</script>

{% include 'footer.html' %}