{% include 'header.html' %}

		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Home</li><li>Tables</li><li>Normal Tables</li>
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-table fa-fw "></i>
								CMDB配置管理
							<span>>
								信息查询
							</span>
						</h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
								<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
									1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
								</div>
							</li>
							<li class="sparks-info">
								<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
								<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
							<li class="sparks-info">
								<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
								<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
									110,150,300,130,400,240,220,310,220,300, 270, 210
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!-- widget grid -->
				<section id="widget-grid" class="">

					<!-- row -->
					<div class="row">

						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>服务器信息列表</h2>
								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

                                        <div class="alert alert-info no-margin fade in">

                                            <form class="form-inline" action="/cmdb/index" method="GET">

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                        <input type="text" placeholder="机房" name="idc" value="" class="form-control" style="width:100px">
                                                        <input type="text" class="hidden" name="query" value="1">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                                        <input type="text" placeholder="IP地址" name="ip" value="" class="form-control" name="ip" value="" style="width:150px">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                        <input type="text" placeholder="运维人" name="op" value="" class="form-control" name="op" value="" style="width:100px">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group input-group-md">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                                                        <input type="text" placeholder="使用人" name="rd" value="" class="form-control" name="rd" value="" style="width:100px">
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-default"><i class="fa fa-sm fa-fw fa-search"></i> 搜索</button>
                                                <a data-toggle="modal" href="#advance" class="btn btn-default"><i class="fa fa-sm fa-fw fa-plus"></i> 高级</a>
                                                <a data-toggle="modal" href="/cmdb/index/" class="btn btn-default"><i class="fa fa-sm fa-fw fa-refresh"></i> 重置</a>
                                                <a data-toggle="modal" href="#exportModal" class="btn btn-default" onclick="ajaxExport()"><i class="fa fa-sm fa-fw fa-upload"></i> 导出</a>
                                            </form>

										</div>
										<div class="table-responsive">

											<table class="table table-bordered table-striped table-hover">
												<thead>
													<tr>
                                                        <th nowrap style="text-align:center;"><a href="#" onclick="btnCheckAll(1)" >全</a>/<a href="#" onclick="btnCheckAll(0)" >反</a></th>
                                                        <th nowrap style="text-align:center;">机房</th>
                                                        <th nowrap style="text-align:center;">IP地址</th>
                                                        <th nowrap style="text-align:center;">资产编号</th>
                                                        <th nowrap style="text-align:center;">SN号</th>
                                                        <th nowrap style="text-align:center;">类型</th>
                                                        <th nowrap style="text-align:center;">型号</th>
                                                        <th nowrap style="text-align:center;">CPU</th>
                                                        <th nowrap style="text-align:center;">内存</th>
                                                        <th nowrap style="text-align:center;">硬盘</th>
                                                        <th nowrap style="text-align:center;">运维人</th>
                                                        <th nowrap style="text-align:center;">使用人</th>
                                                        <th nowrap style="text-align:center;">使用部门</th>
                                                        <th nowrap style="text-align:center;">Salt</th>
                                                        <th nowrap style="text-align:center;">操作</th>
													</tr>
												</thead>
												<tbody>
                                                    {% load pagination_tags %}
                                                    {% autopaginate dataResult 16 %}
                                                    {% for i in dataResult %}
                                                    <tr>
                                                        <td style="text-align:center;width:10px"><input type="checkbox" class="checkboxes" name="ipCheck" value="{{ i.ip }}" /></td>
                                                        <td nowrap style="text-align:center;">{{ i.idc }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.ip }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.anum }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.sn }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.type }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.model }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.cpu }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.mem }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.disk }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.op }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.rd }}</td>
                                                        <td nowrap style="text-align:center;">{{ i.dept }}</td>
                                                        <td nowrap style="text-align:center;"><a class="btn btn-success btn-xs">正常</a></td>
                                                        <td nowrap style="text-align:center;width:300px">
                                                            <a data-toggle="modal" class="btn btn-info btn-xs" href="#infoMore" onclick="serverDetailFn({{ i.id }})"><i class="fa fa-plus"></i> 详细</a>
                                                            <div class="btn-group">
                                                                <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                    工具 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li>
                                                                        <a href="javascript:void(0);">系统状态</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);">进程查询</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);">网络状态</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <a data-toggle="modal" class="btn btn-info btn-xs" href="" onclick=""><i class="fa fa-shopping-cart"></i> 应用</a>
                                                            <a data-toggle="modal" class="btn btn-info btn-xs" href="#optionLogs" onclick="optionLogsFn({{ i.id }})"><i class="fa fa-book"></i> 日志</a>
                                                            <a data-toggle="modal" class="btn btn-info btn-xs" href="#serverRemark" onclick="serverRemarkFn({{ i.id }})"><i class="fa fa-camera"></i> 备注</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
												</tbody>
											</table>
                                            <div style="background-color: #d6dde7;height:55px;padding:0 0 0 8px">
                                                {% paginate %}
                                            </div>
										</div>
									</div>
									<!-- end widget content -->
								</div>
								<!-- end widget div -->
							</div>
							<!-- end widget -->

						</article>
						<!-- WIDGET END -->

					</div>

					<!-- end row -->

				</section>
				<!-- end widget grid -->
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

        <!-- 高级查询 -->
        <div id="advance" class="modal fade" tabindex="-1" data-width="400" style="padding:50px 0px">
            <div class="modal-dialog" style="width:450px">

                <div class="modal-content">
                    <form action="/cmdb/index/" method="GET">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">高级查询</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label>IP地址批量查询</label>
                                        <textarea type="text" class="form-control" placeholder="请保持每行一个IP地址..." rows="6" name="ipMore" value=""></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="机房" name="idc" value="">
                                            <input type="text" class="hidden" name="query" value="1">
                                            <label for="email" class="glyphicon glyphicon-home" rel="tooltip" title="" data-original-title="机房"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="资产编号..." name="anum" value="">
                                            <label for="email" class="glyphicon glyphicon-sort-by-order" rel="tooltip" title="" data-original-title="资产编号"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="SN号..." name="sn" value="">
                                            <label for="email" class="glyphicon glyphicon-cog" rel="tooltip" title="" data-original-title="SN号"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="运维人" name="op" value="">
                                            <label for="email" class="glyphicon glyphicon-user" rel="tooltip" title="" data-original-title="运维人"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="使用人" name="rd" value="">
                                            <label for="email" class="glyphicon glyphicon-glass" rel="tooltip" title="" data-original-title="使用人"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" placeholder="资产属性" name="attribute" value="">
                                            <label for="email" class="glyphicon glyphicon-tags" rel="tooltip" title="" data-original-title="资产属性"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning"><i class="fa fa-sm fa-fw fa-search"></i> 搜索</button>
                            <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-sm fa-fw fa-times"></i> 关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 资产更多信息 -->
        <div id="infoMore" class="modal fade" tabindex="-1" data-width="400" style="padding:50px 0px">
            <div class="modal-dialog" style="width:450px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">服务器信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="serverDetailInfo"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-sm fa-fw fa-times"></i> 关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 资产变更日志 -->
        <div id="optionLogs" class="modal fade" tabindex="-1" data-width="950" style="padding:50px 0px">
            <div class="modal-dialog" style="width:950px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">资产日志详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;width:8%">事件</th>
                                        <th style="text-align: center;width:10%">操作</th>
                                        <th style="text-align: center;">变更内容</th>
                                        <th style="text-align: center;width:18%">时间</th>
                                    </tr>
                                    </thead>
                                    <tbody style="text-align: center;" id="serverLogsData">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-sm fa-fw fa-times"></i> 关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 资产备注 -->
        <div id="serverRemark" class="modal fade" tabindex="-1" data-width="400" style="padding:50px 0px">
            <div class="modal-dialog" style="width:450px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">资产备注信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="serverRemarkText"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-sm fa-fw fa-times"></i> 关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Excel导出 -->
        <div id="exportModal" class="modal fade" tabindex="-1" data-width="400" style="padding:50px 0px">
            <div class="modal-dialog" style="width:450px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Excel 资产数据导出</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="exportText"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-sm fa-fw fa-times"></i> 关闭</button>
                    </div>
                </div>
            </div>
        </div>


<script>

    function pageSize() {
        var strUrl = document.location.search;
        var objS = document.getElementById("pageSize");
        var size = objS.options[objS.selectedIndex].value;
        if (strUrl.length ==0) {
            self.location.href=strUrl + "?size=" + size
        }
        else {
            self.location.href=strUrl + "&size=" + size
        }
    }

    function ajaxExport() {
        $("#exportText").html('正在导出数据，请稍后...');
        $.ajax
        (
                {
                    type: 'post',
                    dataType: 'json',
                    url : '/cmdb/index/export/',
                    data : {'data':"{{queryData |safe}}"},
                    timeout:100000,
                    success: function (datas)
                    {
                        $("#exportText").html(datas.data);
                    },
                    error: function (data, status, e)
                    {
                        alert(e);
                    }
                }
        )
        return false;
    }

    function btnCheckAll(checkTag) {
        if (checkTag == 1) {
            $("[class = checkboxes]:checkbox").attr("checked", true);
        }
        else if (checkTag ==0) {
            $("[class = checkboxes]:checkbox").attr("checked", false);
        }
    }

    function optionLogsFn(serverId) {
        $("#serverLogsData").html("");
        $("#optionLogsTip").html("请稍后，数据查询中...");
        $.ajax({
            type:'POST',
            url:'/cmdb/index/ajaxOptionLogs/',
            data: {"id": serverId},
            success:function(datas){
                $('#serverLogsData').html(datas);
                $("#optionLogsTip").html("数据查询成功，仅显示最近10条日志记录！");
            }
        });
    }

    function serverRemarkFn(serverId) {
        $("#serverRemarkText").html("");
        $("#serverRemarkText").html("请稍后，数据查询中...");
        $.ajax({
            type:'POST',
            url:'/cmdb/index/ajaxServerRemark/',
            data: {"id": serverId},
            success:function(datas){
                $('#serverRemarkText').html(datas);
            }
        });
    }

    function serverDetailFn(serverId) {
        $('#serverDetailInfo').html('请稍后，数据查询中...');
        $.ajax({
            type:'POST',
            url:'/cmdb/index/ajaxServerDetail/',
            data: {id: serverId},
            //dataType:'json',
            success:function(datas){
                $('#serverDetailInfo').html(datas);
            }
        });
    };

</script>

{% include 'footer.html' %}